<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
<appSettings>
  <add key="ConnString" value="put your database connection string here"/>
  <add key="WorkFolder" value ="c:\tender_data\"/>
  <add key="223Folder" value="c:\tender_data\223\"/>
  <add key="UpdateDate" value ="now"/>
  <add key="sendMailFrom" value="from_address@here"/>
  <add key="smtpAddress" value="smtpAddressValue"/>
  <add key="smtpPort" value="smtpPortValue"/>
</appSettings>
</configuration>
