<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SMTPaddress" value="smtp here" />
    <add key="SMTPport" value="port here" />
    <add key="mailFrom" value="mailFrom" />
    <add key="inputDir" value="c:\server\work\inbox\emitents\" />
    <add key="inputFile" value="c:\server\work\inbox\emitents\1.txt" />
    <add key="outputDirectory" value="c:\server\work\outbox\emitents\" />
    <add key="outputDirectoryBuh" value="c:\server\work\outbox\emitents\buh\" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>